{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <p>Have you already registered?<a href="{{ path('app_login') }}">Click Here To Login</a></p>
    <p><a href="http://localhost:8008/">Return Home</a></p>
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.organization) }}
        {{ form_row(registrationForm.position) }}
        {{ form_row(registrationForm.location) }}
        {{ form_row(registrationForm.description) }}
        {{ form_row(registrationForm.picture) }}
        {{ form_row(registrationForm.purpose) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.phone) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
